# Backup files
*.skb
AutoSave_*.skp
Backup of *.layout

# Archives
*.rbz
/releases

# RuboCop
.rubocop-https-*-yml

# YARD
/.yardoc
/doc

# SimpleCov
/coverage

# Bundler
Gemfile.lock

/models

# Reports
/reports
*.csv
